@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito.woff2') format('woff2');
}

 @theme {
  --font-nunito: 'Nunito', sans-serif;
 }

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #fffbeb;
  --foreground: #1e1b4b;
  --card: #ffffff;
  --card-foreground: #1e1b4b;
  --popover: #ffffff;
  --popover-foreground: #1e1b4b;
  --primary: #3b2f7f;
  --primary-foreground: #fbfbfe;
  --secondary: #f7f7fd;
  --secondary-foreground: #3b2f7f;
  --muted: #f7f7fd;
  --muted-foreground: #7c6fc7;
  --accent: #f7f7fd;
  --accent-foreground: #3b2f7f;
  --destructive: #e06c3c;
  --border: #ececff;
  --input: #ececff;
  --ring: #94a3b8;
  --chart-1: #e7b86a;
  --chart-2: #7db7e6;
  --chart-3: #4a5e9a;
  --chart-4: #f7d06c;
  --chart-5: #f6c94a;
  --sidebar: #fbfbfe;
  --sidebar-foreground: #1e1b4b;
  --sidebar-primary: #3b2f7f;
  --sidebar-primary-foreground: #fbfbfe;
  --sidebar-accent: #f7f7fd;
  --sidebar-accent-foreground: #3b2f7f;
  --sidebar-border: #ececff;
  --sidebar-ring: #94a3b8;
  --logo: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #fbfbfe;
  --card: #3b2f7f;
  --card-foreground: #fbfbfe;
  --popover: #3b2f7f;
  --popover-foreground: #fbfbfe;
  --primary: #ececff;
  --primary-foreground: #3b2f7f;
  --secondary: #1e293bcc;
  --secondary-foreground: #fbfbfe;
  --muted: #1e293bcc;
  --muted-foreground: #94a3b8;
  --accent: #1e293bcc;
  --accent-foreground: #fbfbfe;
  --destructive: #b65e3a;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #6d6bb2;
  --chart-1: #6d4e9e;
  --chart-2: #6db7a6;
  --chart-3: #f6c94a;
  --chart-4: #7e5fc9;
  --chart-5: #b68e3a;
  --sidebar: #3b2f7f;
  --sidebar-foreground: #fbfbfe;
  --sidebar-primary: #6d4e9e;
  --sidebar-primary-foreground: #fbfbfe;
  --sidebar-accent: #1e293bcc;
  --sidebar-accent-foreground: #fbfbfe;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #6d6bb2;
  --logo: #0f172a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-nunito;
  }
}

@layer components {
  .grid-card, .details-card {
    @apply opacity-0;
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: calc(var(--index, 0) * 0.1s);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
